In [4]:
import pandas as pd

In [8]:
#loading the data set from CSV FILE 
url="/home/shafeen/Documents/My-all-programs--/Probability&&Statistics with python/stat-env/nhanes_2015_2016.csv"
df=pd.read_csv(url)
df

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,...,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,83732,1.0,NaN,1.0,1,1,62,3,1.0,5.0,...,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
1,83733,1.0,NaN,6.0,1,1,53,3,2.0,3.0,...,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
2,83734,1.0,NaN,NaN,1,1,78,3,1.0,3.0,...,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0
3,83735,2.0,1.0,1.0,2,2,56,3,1.0,5.0,...,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,...,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5730,93695,2.0,2.0,NaN,1,2,76,3,1.0,3.0,...,112.0,46.0,59.1,165.8,21.5,38.2,37.0,29.5,95.0,2.0
5731,93696,2.0,2.0,NaN,2,1,26,3,1.0,5.0,...,116.0,76.0,112.1,182.2,33.8,43.4,41.8,42.3,110.2,2.0
5732,93697,1.0,NaN,1.0,1,2,80,3,1.0,4.0,...,146.0,58.0,71.7,152.2,31.0,31.3,37.5,28.8,NaN,2.0
5733,93700,NaN,NaN,NaN,1,1,35,3,2.0,1.0,...,106.0,66.0,78.2,173.3,26.0,40.3,37.5,30.6,98.9,2.0
5734,93702,1.0,NaN,2.0,2,2,24,3,1.0,5.0,...,114.0,68.0,58.3,165.0,21.4,38.2,33.5,26.2,72.5,2.0

In [10]:
#displaying the columns in the dataFrame
df.columns

Index(['SEQN', 'ALQ101', 'ALQ110', 'ALQ130', 'SMQ020', 'RIAGENDR', 'RIDAGEYR',
       'RIDRETH1', 'DMDCITZN', 'DMDEDUC2', 'DMDMARTL', 'DMDHHSIZ', 'WTINT2YR',
       'SDMVPSU', 'SDMVSTRA', 'INDFMPIR', 'BPXSY1', 'BPXDI1', 'BPXSY2',
       'BPXDI2', 'BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC',
       'BMXWAIST', 'HIQ210'],
      dtype='object')

In [11]:
#now we know weight is a numerical data and we can take its mean
df['BMXWT'].mean()

81.34267560889516

In [20]:

x=df['DMDEDUC2'].unique()
x
df['DMDEDUC2']

0       5.0
1       3.0
2       3.0
3       5.0
4       4.0
       ...
5730    3.0
5731    5.0
5732    4.0
5733    1.0
5734    5.0
Name: DMDEDUC2, Length: 5735, dtype: float64

In [18]:
gen=df['RIAGENDR'].unique()
print(gen)
gen.mean()

[1 2]

1.5

In [ ]:
#One-Hot Encoding

In [26]:
A=['Cat','Dog','Cat','Dog','Snake','Mouse','Snake']
d={'Categorical':A}
df=pd.DataFrame(d)
df

  Categorical
0         Cat
1         Dog
2         Cat
3         Dog
4       Snake
5       Mouse
6       Snake

In [25]:
df['Categorical']

0      Cat
1      Dog
2      Cat
3      Dog
4    Snake
5    Mouse
6    Snake
Name: Categorical, dtype: object

In [27]:
#For creating DUMMIES ( OR DO HOT ENCODING WE USE BUILt IN FUNCTION DF DUMMIES )

In [34]:
dfDummies=pd.get_dummies(df['Categorical'],prefix='Category')

In [35]:
dfDummies

   Category_Cat  Category_Dog  Category_Mouse  Category_Snake
0          True         False           False           False
1         False          True           False           False
2          True         False           False           False
3         False          True           False           False
4         False         False           False            True
5         False         False            True           False
6         False         False           False            True

In [53]:
df_dummies= dfDummies.astype(int)
df_dummies

   Category_Cat  Category_Dog  Category_Mouse  Category_Snake
0             1             0               0               0
1             0             1               0               0
2             1             0               0               0
3             0             1               0               0
4             0             0               0               1
5             0             0               1               0
6             0             0               0               1

In [50]:
dfDummies.values

array([[ True, False, False, False],
       [False,  True, False, False],
       [ True, False, False, False],
       [False,  True, False, False],
       [False, False, False,  True],
       [False, False,  True, False],
       [False, False, False,  True]])

In [54]:
df_dummies.values

array([[1, 0, 0, 0],
       [0, 1, 0, 0],
       [1, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 0, 1],
       [0, 0, 1, 0],
       [0, 0, 0, 1]])

In [51]:
#now i willl convert them to 1's and 0's 
# for i,j in df.iterrows():
#     if(j==True):
#         df[i][j]=1
#     else:
#         df[i][j]=0
# df['Category_Cat'] = df['Category_Cat'].apply(lambda x: 1 if x else 0)